# Any video lecture files
*.mp4

# The example app
docker/for-beginners/example-voting-app/

# Kubespray repo
**/kubespray/

# Scandir for ClamAV
**/scandir/

# Install binaries and packages
*.rpm
*.tgz
*.tar.gz
